Wrap-DEB/opt/SM18.05-WINE-Vessel/dosdevices
Wrap-DEB/opt/SM18.05-WINE-Vessel/drive_c
Wrap-DEB/opt/SM18.05-WINE-Vessel/drive_d
Wrap-DEB/opt/SM18.05-WINE-Vessel/drive_e
Wrap-DEB/opt/SM18.05-WINE-Vessel/.update-timestamp
Wrap-DEB/opt/SM18.05-WINE-Vessel/system.reg
Wrap-DEB/opt/SM18.05-WINE-Vessel/README.md
Wrap-DEB/opt/SM18.05-WINE-Vessel/user.reg
Wrap-DEB/opt/SM18.05-WINE-Vessel/userdef.reg
Wrap-DEB/opt/SM18.05-WINE-Vessel/Wine-x86_64-ubuntu.latest.AppImage
Wrap-DEB/opt/SM18.05-WINE-Vessel/winetricks.log
*.deb