deb-package/usr/share/SM18.05-WINE-Vessel/dosdevices
deb-package/usr/share/SM18.05-WINE-Vessel/drive_c
deb-package/usr/share/SM18.05-WINE-Vessel/drive_d
deb-package/usr/share/SM18.05-WINE-Vessel/drive_e
deb-package/usr/share/SM18.05-WINE-Vessel/.update-timestamp
deb-package/usr/share/SM18.05-WINE-Vessel/system.reg
deb-package/usr/share/SM18.05-WINE-Vessel/README.md
deb-package/usr/share/SM18.05-WINE-Vessel/user.reg
deb-package/usr/share/SM18.05-WINE-Vessel/userdef.reg
deb-package/usr/share/SM18.05-WINE-Vessel/Wine-x86_64-ubuntu.latest.AppImage
deb-package/usr/share/SM18.05-WINE-Vessel/winetricks.log
*.deb