Package:supermemo18.05-wine32
Version:1.4.0.1-lazy-winetricks
Section:contrib
Architecture:i386
Installed-Size:107.7 MB
Depends:winetricks
Maintainer:WhiteFall
Description:SuperMemo On Wine.(32bit)
 运行软件请使用开始菜单中的启动器文件: SuperMemo18.desktop。配置sm-wine容器请使用启动器: SuperMemo18.05-winecfg.desktop。
 . 
 软件实际所在目录：/opt/apps/supermemo/SM18.05-WINE-Vessel/drive_c/SuperMemo
 . 
 说明文档以及项目地址: https://github.com/Zacharia2/SuperMemo18-ON-Wine ，请需要时查阅。
