[Desktop Entry]
Name=SuperMemo18.05-winecfg
Exec=env WINEARCH=win32 WINEPREFIX="/opt/apps/supermemo/SM18.05-WINE-Vessel" wine winecfg
Type=Application
Categories=Education;
StartupNotify=true
Comment=打开supermemo18-wine的配置窗口。
Path=/opt/apps/supermemo/SM18.05-WINE-Vessel
Icon=/opt/apps/supermemo/SM18.05-WINE-Vessel/smicon.png
StartupWMClass=wine

