[Desktop Entry]
Name=SuperMemo18.05-winecfg
Exec=env WINEARCH=win32 WINEPREFIX="/usr/share/SM18.05-WINE-Vessel" /usr/share/SM18.05-WINE-Vessel/Wine-x86_64-ubuntu.latest.AppImage winecfg
Type=Application
Categories=Education;
StartupNotify=true
Comment=打开supermemo18-wine的配置窗口。
Path=/usr/share/SM18.05-WINE-Vessel
Icon=/usr/share/SM18.05-WINE-Vessel/smicon.png
StartupWMClass=Wine-x86_64-ubuntu.latest.AppImage

